 /* Reset some default styles */
*{
  margin: 0;
  padding: 0;
}



#containerIntro1  {
  background-color: #2f0505;
  border: 8px, #ffe7ae;
  color:#ffe7ae;
  text-align: center;
}

body {
  font-family: lora font, sans-serif;
  background-color: #f5f5f5;
  color: #000000;
}


#containerEfst1 {
  background-color: #ffe7ae;
  border: 20px, #ffe7ae;
  color: #2f0505;
  align-self: center;
  display: flex;
  text-align: center;
  padding: 2rem;
}

#containerEfst2 {
  background-color: #ffe7ae;
  border: 20px, #ffe7ae;
  color: #2f0505;
  align-self: center;
  display: flex;
  text-align: center;
}

#containerEfst3 {
  background-color: #ffe7ae;
  border: 2px, #ffe7ae;
  color: #2f0505;
  align-self: center;
  display: flex;
  text-align: center;
}

#containerEfst4 {
  background-color: #ffe7ae;
  border: 2px, #ffe7ae;
  color: #2f0505;
  align-self: center;
  display: flex;
  text-align: center;
}

footer {
  background-color: #2f0505;
  border: 200px, #ffe7ae;
  color: #ffe7ae;
  align-self: center;
  display: flex;
  text-align: center;
}

#containerFooter1 {
  height: 220px;
  width: 240px;
  align-items: center; 
  background-color: #2f0505;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


div > div {
  box-sizing: border-box;
  border: 200px solid #ffe7ae;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#containerFooter2 {
  height: 220px;
  width: 240px;
  align-items: center; 
  background-color: #2f0505;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.div > div {
  box-sizing: border-box;
  border: 200px solid #ffe7ae;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}